
h1{
   margin-left: 10%;
   padding-top: 200px;
   margin-right: 70%;
   text-align: center;
}
p{
  margin-left: 10%;
  margin-right: 60%;
  padding: 100px;
}
button{
  padding-top: 400px;
  width: 20%;
  height: 15%;
  margin-left: 10%;
  margin-right: 70%;
}
img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 200px;
  height: 700px;
  width: 500px;
}